html,
body {
  min-height: 100vh;
  margin:0;
  padding:0;
  background-color: antiquewhite;
}
main {
  min-height: 77.5vh;
  position: relative;
  top: 84px;
}
#footer {
  bottom: 0px;
  width: 100%;
  font-size: large;
  background: #BCCE98 none repeat scroll 0% 0%;
  text-align: center;
  position: fixed;
  height: 67px;
}
p {
  margin: 0px;
  padding: 10px;
  color: #555;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul a {
  color: darkgreen;
  text-decoration: none;
}
#header{
  font-size: large;
  background: #BCCE98;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200;
  height: 85px;
}
#top-nav .top-navbar {
  list-style:none;
  padding: 10px;
  height:37px;
}
#top-nav .top-navbar .inner-nav {
  padding:0 0 0 18px;
}
#top-nav .top-navbar .inner-nav a {
  display:block;
  margin:0;
  color:#555555;
  text-decoration:none;
}
.row {
  display: inline-block;
}
.content {
  font-size: medium;
  font-family: serif;
  display: inline-block;
  width: 45%;
  position: absolute;
}
.home_image {
  width: 50%;
  display: inline-block;
  padding: 0px 25px 25px;
}
div.img {
  border: 1px solid #CCC;
  width: 280px;
  display: inline-block;
  margin: 40px 10px 75px 100px;
}
.outer, .form_outer{
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
.inner {
  width: 50%;
  height: 300px;
  display: none;
  position: absolute;
  left: 30%;
  top: 20%;
}
.inner img {
  height: 100%;
}
.display_block {
  display: block !important;
}
div.desc {
  padding: 15px 15px 15px 15px;
  text-align: center;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#image {
  width: 100%;
  height: 540px;
}
@media (max-width: 900px) {
  #image {
    width: 100%;
    height: auto;
  }
}
#heading {
  font-size: 30px;
  line-height: 2;
  display: inline-block;
  width: 60%;
  text-align: left;
  float: right;
}
.page_links {
  margin-top: 30px;
  float: left;
}
#img_container {
  margin-bottom: 50px;
  padding: 10px;
}
@media(max-width: 1057px) {
    div.img {
        margin: 40px 10px 50px 60px;
        width: 24%;
    }
}
@media(max-width: 986px) {
    div.img {
        margin: 40px 10px 50px 100px;
        width: 28.5%;
    }
    .inner {
        left: 27%;
    }
}
@media(max-width: 800px) {
    div.img {
        margin: 40px 10px 50px 80px;
        width: 33.5%;
    }
    .inner {
        left: 22%;
        width: 60%;
    }
}
@media(max-width: 730px) {
    div.img {
        margin: 40px 10px 50px 50px;
        width: 35.5%;
    }
    .inner {
        left: 16%;
        width: 63%;
    }
}
@media(max-width: 650px) {
    div.img {
        margin: 40px 10px 30px 40px;
        width: 37%;
    }
    .inner {
        height: 250px;
        top: 25%;
    }
}
@media(max-width: 590px) {
    div.img {
        margin: 40px 10px 20px 30px;
        width: 38%;
    }
    .inner {
        height: 240px;
        top: 28%;
    }
}
@media(max-width: 539px) {
    div.img {
        margin: 40px 10px 20px 80px;
        width: 55%;
    }
    .inner {
        height: 240px;
        width: 65%;
        left: 15%;
        top: 30%;
    }
}
@media(max-width: 408px) {
    div.img {
        margin: 40px 10px 20px 50px;
        width: 65%;
    }
    .inner {
        width: 75%;
        left: 13%;
    }
}
@media screen and (max-device-width: 408px) {
    div.img {
        margin: 40px 10px 50px 50px;
        width: 42%;
        height: 400px;
    }
    .img img {
        height: 300px;
    }
    .desc {
        font-size: 42px;
    }
    .inner {
        left: 11%;
        width: 77%;
        height: 40%;
        top: 25%;
    }
    #header {
        height: 11%;
    }
    #img_container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #footer {
        font-size: 40px;
        height: 100px;
    }
    #footer p {
        padding-top: 25px;
    }
    center.inner-nav {
        padding-top: 10px !important;
    }
    center.inner-nav a {
        color: #172525 !important;
    }
    .page_links {
        padding-top: 10% !important;
        padding-right: 16px !important;
    }
    #top-nav .top-navbar .inner-nav {
        padding: 0;
        font-size: 44px;
    }
    #heading {
        font-size: 70px !important;
        width: 36%;
        text-align: center;
        float: none;
    }
    .user_mgmnt {
        float: right !important;
    }
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid;
}
tr:hover {
  background-color:#f5f5f5
}
tr td:first-child {
  background-image: url('edit.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
tr td:first-child:hover {
  background-image: url('edit_hover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
tr:nth-child(odd) {
  background-color: #f1f1f1;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
.form_inner, .edit_inner{
  width: 500px;
  height: 300px;
  display: none;
  position: absolute;
  left: 30%;
  top: 0%;
  z-index: 999;
  background-color: rgb(185, 198, 132);
  text-align: center;
}
#firstname, #lastname, #email, #first_name, #last_name, #email_text{
  display: block;
  margin-left: 125px;
}
.search_container {
  float: right;
  padding-top: 10px;
}
